.ItemCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  height: 180px;
  width: 510px;
  border-radius: 5px;
  border: 0.4px solid black;
}
.ItemsCenter {
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.ItemImg {
  width: 150px;
  background-color: white;
  border-radius: 2px;
  border: 0.5px solid black;
}
.ItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ItemInfo p {
  font-weight: 200;
  margin: 0;
}
.ItemButton {
  width: 80px;
  height: 30px;
  border-radius:2px;
  background-color: white;
  border: 0.8px solid black;
  transition: all 0.2s;
}
.ItemButton:hover {
 background-color: black;
 color: white;
}
