.CountainCounter {
  background-color: rgba(241, 241, 241, 0.836);
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.121);
  flex-direction: column;
  justify-content: center;
  width: 180px;
  height: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px 5px;
}
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
}
.buttonsCounter {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.029);
}
.addCart {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
