.CountainCounter {
  background-color: rgba(255, 255, 255, 0.344);
  display: flex;
  border-left: 0.8px solid black;
  border-right: 0.8px solid black;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 13px;
  width: 60%;
}
.buttonsCounter {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 0.8px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.873);
  transition: all .5s;
}
.buttonsCounter:hover{
  background-color: black;
  color: white;
}
.addCart {
  height:100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnAddCart{
  all: unset;
  border: 0.8px solid black;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all .5s;
}
.btnAddCart:hover{
  background-color: black;
  color: white;
}
