@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap");

main {
  margin: 0;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../../public/images/sofa-modelo-genio.jpeg");
}
.containerList {
  background-color: rgba(233, 233, 233, 0.461);
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Fira Sans Condensed", sans-serif;
  margin: 30px;
}
.productsSection {
  display: flex;
  justify-content: space-evenly;
}
