@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');


main{
margin:0;
height: 1000px;
display: flex;
flex-direction: column;
background-color: rgb(183, 177, 177);
}
.title{
    font-family: 'Fira Sans Condensed', sans-serif;
}
.productsSection{
    display: flex;
    justify-content: space-evenly;
}