@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Poiret+One&display=swap');
.Card {
  background-color: rgba(255, 255, 255, 0.951);
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.Card:hover {
  box-shadow: 1px 4px 8px 0px rgba(79, 38, 38, 0.5);
}
.TitleCard,
.ImgCard,
.StockCard,
.ButtonCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleCard {
  height: 45px;
}
.TitleCard h4{
  font-family: 'Poiret One', cursive;
  font-size: large;

}
.ImgCard {
  height: 50%;
}
.ImgCard img {
  width: 95%;
  height: 95%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.ButtonCard {
  height: 20%;
}
.ButtonDetails {
  background-color: rgba(241, 241, 241, 0.802);
  width: 80%;
  border-radius: 10px 5px;
}
.StockCard {
  height: 14.8%;
}
