@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap");
.divForm,
.formCheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.divForm {
  height: 600px;
  width: 100%;
  justify-content: space-around;
}
.formCheck {
  height: 70%;
  width: 40%;
  justify-content: space-around;
}
.divInput {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 10%;
}
.labelForm {
  width: 35%;
  font-family: "Fira Sans Condensed", sans-serif;
}
.inputForm {
  border-radius: 1px;
  height: 90%;
  border: none;
  border-bottom: 0.5px solid black;
  outline: none;
  transition: all 0.2s;
  font-family: "Fira Sans Condensed", sans-serif;
}
.inputForm:focus {
  box-shadow: 0.5px 1px 2px 0px rgb(28, 7, 7);
}
.createOrd {
  height: 12%;
  width: 25%;
  border: 0.6px solid black;
  border-radius: 2px;
  background-color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: medium;
  transition: all .6s;
}
.createOrd:hover{
  background-color: black;
  color: white;
}
.obligatory {
  transition: all 3s;
  font-family: "Fira Sans Condensed", sans-serif;
  color: white;
  background-color: rgb(255, 48, 48);
  width: 25%;
  border-radius: 2px 5px;
  font-size: 12px;
}
.divLoader{
  width: 95%;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.divLoader h2{
  font-family: "Fira Sans Condensed", sans-serif;
  color: rgb(0, 0, 0);
}
