@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');
*{
  text-decoration: none;
}
.Navbar {
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(92, 92, 89, 36);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  height: 52px;
}
.NombreTienda {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NombreTienda h4 {
  transition: 0.2s all;
  color: rgb(255, 255, 255);
}
.NombreTienda h4:hover {
  color: rgb(217, 217, 210, 85);
}
.Categorias {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 500px;
}
.ButtonsCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 80%;
  background-color: rgb(230, 230, 223, 90);
  width: 20%;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px 10px;
  border: none;
  transition: 0.4s all;
  font-size: 15px;
}
.divCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
}
.ButtonsCategory:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.Carrito:hover {
  box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.5);
}
.Navbar, .ButtonsCategory, .NombreTienda{
    font-family: 'Fira Sans Condensed', sans-serif;
}
