@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
* {
  text-decoration: none;
}
.Navbar,
.Categorias,
.NombreTienda,
.ButtonsCategory,
.divCarrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NombreTienda,
.ButtonsCategory,
.divCarrito {
  justify-content: center;
}
.Navbar {
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 1px rgba(0, 0, 0, 0.229);
  height: 52px;
}
.NombreTienda {
  width: 150px;
  height: 100%;
}
.NombreTienda h4 {
  letter-spacing: 1px;
  font-family: 'Italiana', serif;
  transition: 0.2s all;
  color: rgba(3, 3, 3, 0.908);
}
.NombreTienda h4:hover {
  color: rgb(53, 53, 53);
}
.Categorias {
  height: 100%;
  width: 500px;
}
.ButtonsCategory {
  color: rgba(54, 54, 54, 0.914);
  letter-spacing: 1px;
  height: 80%;
  width: 20%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.429);
  transition: .6s all;
  font-size: 15px;
}
.divCarrito {
  height: 100%;
  width: 150px;
}
.ButtonsCategory:hover {
  box-shadow: 0px 1px 1px 0px rgba(75, 30, 6, 0.571);
  background-color: rgb(240, 238, 238);
  color: black;
}
.Navbar,
.ButtonsCategory,
.NombreTienda {
  font-family: "Fira Sans Condensed", sans-serif;
}
