.carWidget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  border-bottom: 1px solid rgba(0, 0, 0, 0.429);
  width: 120px;
  font-size: 18px;
  height: 80%;
  transition:all .4s;
  animation: alternate infinite 10s fullCar;
}
.carWidgetNone {

  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  animation: none;
}
.imageCart {
  width: 50px;
}
@keyframes fullCar {
  0%{
    background-color: rgb(246, 246, 246);
    color: black;
  }
  50%{
    background-color: rgb(255, 228, 221);
    color: rgb(255, 77, 6);
  }
  100%{
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
  }
}
.carWidget:hover {
  box-shadow: 0px 1px 1px 0px rgba(75, 30, 6, 0.571);
}
.carWidgetNone:hover {
  box-shadow: none;
  background-color: rgb(239, 239, 239);
  color: rgb(255, 0, 0);
  height: 80%;
}


